<h1>Eat Da Burger</h1>

<ul>
    {{#each burger}}
    <li>{{burger_name}}</li>
    {{/each}}
    <form id="burgerForm">
        <li><input type="text" id="newBurger" placeholder="Enter burger here"></li>
        <br>
        <button type="submit" id="submitBtn">Add burger</button>
    </form>
</ul>