<h1>Eat Da Burger</h1>

<form action="/" method="POST">
    <input type="text" name="newBurger" placeholder="Enter burger here">
    <br>
    <input type="button" id="submitBtn" value="Add burger">
</form>